.product-page {
  width: 100%;
  padding-top: var(--height-navbar);
}
.product-page-body {
  min-height: calc(100vh - var(--height-navbar));
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product-page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
