:root {
  --height-navbar: 25vh;
}

.navbar-container {
  position: absolute;
  top: 0;
  height: var(--height-navbar);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.navbar {
  height: 17vh;
  width: 85%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  background: white;
  display: flex;
  z-index: 1;
}
.navbar-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--secondary-font);
  font-size: 190%;
  padding-left: 20px;
}
.navbar-center {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-center div {
  margin-left: 20px;
  margin-right: 20px;
}
.navbar-right {
  flex: 1;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.navbar-phone {
  display: none;
}

/*Phone view*/
@media (max-width: 600px) {
  .navbar-right {
    display: none;
  }
  .navbar-center {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }
  .navbar-center div {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 0;
  }
  .navbar-container {
    display: inline;
    z-index: 1;
  }
  .navbar {
    width: auto;
    height: auto;
    padding: 8px;
    align-items: center;
    flex-direction: column;
  }
  .navbar-left {
    justify-content: flex-start;
    width: 100%;
  }
  .navbar-left span {
    flex: 1;
    padding-right: 15px;
  }
  .navbar-phone {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }
}
