:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Cabin", sans-serif;
  --primary-color: #ffcc00;
  --secondary-color: #262626;
}

.App {
  font-family: var(--primary-font);
  color: var(--secondary-color);
}
