:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Cabin", sans-serif;
  --primary-color: #ffb606;
  --secondary-color: #222222;
}

body {
  font-family: var(--primary-font);
  color: #3e3e3e;
}
