:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Cabin", sans-serif;
  --primary-color: #ffb606;
  --secondary-color: #3a3a3a;
}

body {
  font-family: var(--primary-font);
  color: var(--secondary-color);
}
